table tr:hover
{
    cursor: pointer;
}
#modal-detalhe-corretor .modal-content img
{
    height: 125px;
    padding-bottom: 15px;
}

#modal-detalhe-corretor .modal-content .dados p
{
    margin-bottom: 0px;
}