<div width="100%" style="background-color: #F7F4F4">
    <a href="$link$" target="_blank" style="text-decoration:none;">
        <img src="$src_img$"  width="40%" height="194px" style="margin: 1%">
    </a>
    <div style="width:57%; float: right; display: table">
        <h3 style="color: #941f28;"><a href="$link$" target="_blank" style="color: #941f28; text-decoration:none;">$tipo$</a></h3>
        <small>Código: $codigo$</small>
        <p style="font-size:10px; padding-right: 7px;">$imovel_desc$</p>
        <h3 style="color: #941f28;">$valor$</h3>
    </div>
</div>