/* FONTE */
@font-face
{
    font-family: MuseoSans; src: url('/assets/font/MuseoSans/MuseoSans.otf');
}

body
{
    font-family: 'Istok Web', sans-serif;
    background: #fdfdfd;
    color: #6d6d6d;
}



/* MENU */
.navbar-default, ul.dropdown-menu
{
    background-color: #8E1212;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default ul li:hover,
ul .dropdown-menu > li > a:hover,
.navbar-default ul li.active a
{
    background-color: #A92B2B !important;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-toggle,
.navbar-default ul li a
{
    color: white !important;
    text-decoration: none;
}

/* BANNER PRINCIPAL */
.banner-principal
{
    display: inline-block;
}

#itrend-logo-banner
{
    z-index: 102;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/* FILTRO */
.form-filtro
{
    border: 1px solid #8E1212;
    margin-top: -40px;
    z-index: 101;
    position: absolute;
    height: 75px;
    padding: 20px;
    border-bottom-left-radius: 28px;
    border-top-right-radius: 28px;
    background-color: #8E1212;
    color: white;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    max-width: 1300px;
}

.form-filtro .filter-option {
    font-size: 12px;
    margin-top: 3px;
}

/* BOTOES */
.btn-default, input[type=text], input[type=email], .btn-multselect, .btn-danger
{
    border-radius: 0;
}

.btn-default
{
    color: #8E1212;
}

input[type=text], input[type=email], .btn-multselect
{
    background-color: #8E1212;
    color: white;
    border: solid white 1px;
}

input[disabled]
{
    background-color: #7B0101 !important;
}

.btn-lg
{
    width: 100%;
}

.btn-danger
{
    color: #FFF;
    background-color: #8E1212;
}

/* VALOR SLIDER */
.slider-horizontal
{
    width: 100% !important;
}

.slider-tick-label-container
{
    margin-top: -20px !important;
}

.slider-tick-label-container .slider-tick-label:first-child
{
    float: left;
}

.slider-tick-label-container .slider-tick-label:last-child
{
    float: right;
}

.slider-tick-label
{
    font-size: 12px;
}

.slider-handle.custom
{
    background-image: url(/assets/images/btn-value-slider.png);
    background-size: 17px 17px;
    background-repeat: no-repeat;
}

.slider-handle.custom::before {
    line-height: 20px;
    font-size: 20px;
    content: ''; /*unicode star character*/
    color: #726204;
}

.slider.slider-horizontal .slider-track
{
    height: 7px;
}

#filtro-imovel .slider-selection
{
    background-image: linear-gradient(to bottom, #810909 0%, red 100%);
}

#filtro-imovel .slider-track-low, #filtro-imovel .slider-track-high
{
    background-color: #8E1212 !important;
}

/*  BANNER CAPAO */
.img-sombra
{
    -webkit-box-shadow: 0px 0px 60px -2px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 60px -2px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 60px -2px rgba(0,0,0,0.65);
}

/* LARGURA DA PAGINA MAXIMA E CENTRALIZADA */
#page-wrap, nav.navbar-fixed-top
{
    /*max-width: 1350px;*/
    margin: 0 auto;
}

/* IMOVEL */
.imovel
{
    height: 401px;
    font-style: italic;
    color: #5D5757;
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 20px;
}

.imovel .imovel-foto
{
    margin-bottom: 10px;
}

.imovel:hover
{
    cursor: pointer;
}

.imovel a:hover
{
    text-decoration: none;
}

.imovel hr
{
    display: none;
    width: 50%;
    background-color: #E4E3E3;
    height: 2px;
}

.imovel:hover hr
{
    display: block;
}

.imovel img
{
    width: 100%;
    float: left;
    margin-right: 10px;
    overflow: hidden;
    max-height: 200px;
}

.imovel h3
{
    text-align: left;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    color: #C71C1C;
}

.imovel p
{
    overflow: hidden;
    text-overflow: ellipsis;
}

.imovel .imovel-descricao
{
    height: 55px;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: grey;
}

@media screen and (max-width: 480px) {
    .imovel
    {
        margin-top: 30px;
        border-top: solid 1px #949494;
        padding-top: 5px;
    }

    .imovel:first-child
    {
        border-top: 0;
        padding-top: 0;
    }

    .imovel img
    {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* BANNER CONDOMINIOS HOME */
#banner-condominios li
{
    display: none;
    list-style-type: none;
    margin-top: 100px;
}

#banner-condominios a.banner-previous, #banner-condominios a.banner-next
{
    cursor: pointer;
    margin-top: 65px;
    position: absolute;
}

#banner-condominios .banner-previous
{
    right: 0;
}

#banner-condominios a span.glyphicon
{
    color: white;
    font-size: 100px;
}

#banner-condominios h2, #banner-condominios li span
{
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
}

#banner-condominios li span
{
    font-size: 21px;
    color: white;
    line-height: 107px;
    text-shadow: 1px 4px 2px rgb(46, 46, 46);
}

#banner-condominios .text-center
{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    color: #FFF;
}

#banner-condominios li div.col-md5
{
    width: 189px;
    height: 150px;
    overflow: hidden;
}

#banner-condominios img
{
    border-radius: 100%;
    width: 135px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 13px 16px 46px -5px rgba(0,0,0,0.73);
    -moz-box-shadow: 13px 16px 46px -5px rgba(0,0,0,0.73);
    box-shadow: 13px 16px 46px -5px rgba(0,0,0,0.73);

}

#banner-condominios
{
    background-image: url('/assets/images/banner-condominio.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #373737;
    height: 240px;
}

@media screen and (max-width: 480px)
{
    #banner-condominios
    {
        height: 160px;
        margin-top: 25px;
    }

    #banner-condominios ul
    {
        padding-left: 0;
    }

    #banner-condominios a.banner-previous, #banner-condominios a.banner-next
    {
        margin-top: 30px;
    }

    #banner-condominios a.banner-next
    {
        margin-left: -35px;
    }

    #banner-condominios li
    {
        margin-top: 20px;
    }
}

/* MENU CABECALHO */
.navbar-default .navbar-toggle .icon-bar
{
    background-color: #FFF;
}

/* MENU RODAPÉ */
.menu-rodape
{
    background-color: #171616;
    color: #e2e2e2;
    margin-top: 35px;
    padding-top: 25px;
}

.menu-rodape img
{
    height: 30px;
}

.menu-rodape ul
{
    list-style: none;
    padding-left: 0;
}

.menu-rodape ul li a
{
    color: white;
}

.menu-rodape small a
{
    font-size: 9px; color: #bbafaf;
}

/* BANNERS DAS PAGINAS INSTITUCIONAIS */
.banner-institucional
{
    height: 350px;
    overflow: hidden;
}

.banner-institucional img
{
    position: relative;
    bottom: 120px;
}

.banner-institucional > img.img-responsive
{
    min-width: 100%;
}

div.banner-institucional-logo
{
    background-color: rgba(255, 255, 255, 0.66);
    width: 40%;
    z-index: 1;
    position: absolute;
    height: 350px;
    border-bottom-right-radius: 200px;
    border-top-right-radius: 200px;
}

.banner-institucional-logo img
{
    z-index: 1;
    position: absolute;
    top: 135px;
    left: 30%;
}

.container-conteudo
{
    padding-top: 80px;
}

.container-conteudo h1
{
    color: #5f1b1b;
    font-size: 50px;
    font-style: italic;
    text-transform: uppercase;
}

@media screen and (max-width: 480px)
{
    .container-conteudo h1
    {
        color: #C71C1C;
        font-size: 40px;
        color: #5f1b1b;
        font-style: italic;
        text-transform: uppercase;
    }
}

/* MODAL */
.modal-footer
{
    border-top: 0;
}

.modal-content
{
    border-radius: 0;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.modal-content .btn
{
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.no-margin-top
{
    margin-top:0px;
}

/* FLEXSLIDER */
.flex-direction-nav a
{
    height: 43px !important;
    font-style: normal;
}

/* SELECT2 */

.dropdown-menu > li > a, .dropdown-menu > li > a:hover
{
    color: #FFF;
}

div.dropdown-menu.open
{
    background-color: #8E1212;
}

div.dropdown-menu.open > ul > li > a > span.text
{
    color: #FFF;
}

.dropdown-menu > li > a:hover
{
    background-color: #A92B2B;
}

@media screen and (max-width: 480px)
{
    .no-padding-xs
    {
        padding-right: 0;
        padding-left: 0;
    }

    .text-center-xs
    {
        text-align: center;
    }

    .container-conteudo
    {
        padding-top: 0px;
        margin-top: 20px;
    }

    .banner-institucional,
    div.banner-institucional-logo
    {
        height: 250px;
        width: 100%;
    }

    .banner-institucional img.img-responsive
    {
        height: 250px;
    }

    .banner-institucional img
    {
        bottom: 0px;
    }

    .banner-institucional-logo img
    {
        top: 50px;
        left: 0;
        right: 0;
        margin: auto;
    }

    div.banner-institucional-logo
    {
        background-color: rgba(255, 255, 255, 0.33);
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
    }
}

.btns-pesquisa-rapida button
{
    border-left: 0px;
    border-right: 0px;
}

.btns-pesquisa-rapida button:first-child
{
    margin-top: 10px;
    border-top: 0px;
}

.btns-pesquisa-rapida button:last-child
{
    margin-bottom: 15px;
    border-bottom: 0px;
}

.form-filtro .btn-multselect
{
    color: #e2e2e2;
}

.form-filtro input.form-control::-webkit-input-placeholder{
    color:#e2e2e2;
}
.modal-content input.form-control::-webkit-input-placeholder{
    color:#e2e2e2;
}
.form-filtro input.form-control::-moz-placeholder{
    color:#e2e2e2;
}
.modal-content input.form-control::-moz-placeholder
{
    color:#e2e2e2;
}

.btn-itrend
{
    margin-top: 10px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    min-height: 33px;
    background-color: #8E1212;
    color: white;
    border-color: transparent;
}

ul.imoveis-complementos
{
    border-bottom: 0px;
    margin-bottom: 20px;
}

ul.imoveis-complementos button.btn-itrend
{
    margin-right: 10px;
    width: 145px;
    font-size: 12px;
}

.btn-itrend-active
{
    background-color: #c9302c;
}

.text-indent
{
    text-indent: 2em;
}

.cor-vermelho-itrend
{
    color: #8E1212;
}
/*Quem somos*/
.linha-horizontal {
    border-bottom: solid 1px #b59797;
    width: 100%;
    display: table;
    height: 30px;
    margin-bottom: 13px;
}
.linha-vertical {
    border-bottom: solid 1px #b59797;
    width: 100%;
    display: table;
    height: 30px;
    margin-bottom: 13px;
}
.corretor-quem-somos {
    height: 180px;
    overflow: hidden;
    margin-bottom: 18px;
}.nome-corretor{
     color: #8e1212;
     font-style: italic;
 }
.bg-corretores{
    background: #f5f5f5;
 }

/* MENU PESQUISA RAPIDA */
.menu-pesquisa-rapida
{
    text-align: center;
    background-color: #8e1212;
    padding: 5px 0px;
}

.menu-pesquisa-rapida ul
{
    display: inline-flex;
    list-style: none;
    font-size: 12px;
    margin-bottom: 0px;
}

.menu-pesquisa-rapida ul li {
    cursor: pointer;
    color: white;
    padding: 5px 10px;
}

input.form-control[name="filtro-codigo-imovel"],
input.form-control[name="filtro-preco-min"],
input.form-control[name="filtro-preco-max"]
{
    width: 100%;
}

.form-filtro .form-group
{
    padding-left: 5px;
    padding-right: 5px;
}


/*Img dos imoveis*/


.img-imovel
{
    background-size: cover;
    background-position: center;
}