.video-banner
{
    margin-top: 50px;
    height: 400px;
    overflow: hidden;
}

.imagem-banner
{
    height: 380px;
    margin-top: 44px;
    background-size: cover
}

.imagem-banner >img
{
    margin-top: 150px;
}

.video-banner > video
{
    width: 100%;
}

.video-banner > div
{
    background-color: rgba(255, 0, 0, 0.1);;
    width: 100%;
    height: 400px;
    position: absolute;
    background-image: url(/assets/videos/filtro-banner.gif);
}

.video-banner > div > img
{
    margin-top: 150px;
}

.form-filtro
{
    margin-top: 418px;
}

/* IMOVEL */
.imovel
{
    height: 365px;
    font-style: italic;
    color: #5D5757;
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 18px;
}

.imovel .titulo-imovel
{
    margin-bottom: 0;
    font-size: 16px;
}

.imovel .imovel-img
{
    width: 100%;
    height: 200px;
    position: relative;
    margin-bottom: 5px;
    background-position: center;
    background-size: cover;
}

.imovel-img img
{
    position: absolute;
    min-height: 100%;
    display: block;
    min-width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.imovel p
{
    font-size: 11px;
    margin-top: 0;
    margin-bottom: 11px;
}