/*Head*/
    .page-header-fixed .navbar
    {
        top: 0;
    }
/*Banner*/
	.banner-principal-foto
	{
		margin-top:20px;
		padding-bottom: 20px;
	}

	.foto
	{
		height: 200px;
		width: 100%;
		border-bottom: 1px solid #e9e9e9;
		margin-bottom: 2px;
		overflow: hidden;
	}
	.foto img {
    width: 100%;
	}

	.btn-troca-foto
	{
		margin-top: -34px;
		margin-right: 12%;
		font-size: 27px;
		color: gray;
	}

	.loading
	{
		position: absolute;
		background: rgba(255, 255, 255, 0.47);
		width: 100%;
		height: 100%;
		z-index: 999;
	}

	.loading > img
	{
		top: 22%;
		width: 22%;
		left: 35%;
	}

	#pagination
	{
		margin-bottom: 15px;
	}

	.loading-gif
	{
		height: 35px;
	}

.input-group-addon:last-child
{
	font-size: 13px;
}

.hover-hand:hover
{
	cursor: pointer;
	text-decoration: underline;
}

.logo-name img
{
	max-height: 110px;
}

.notificacao-desktop a
{
	font-size: 12px !important;
}

.notificacao-desktop .fa
{
	font-size: 15px;
}

.notificacao-desktop .fa-toggle-on
{
	color: rgb(31, 156, 134);
}

.message-attachment img {
	height: 125px;
}

.message-attachment {
	margin-bottom: 10px;
	margin-right: 5px;
}

.container .col-md-12 .panel
{
	margin-bottom: 40px;
}

.mailbox-nav li:hover
{
	cursor: pointer;
}

.no-padding-left
{
	padding-left: 0px !important;
}

.no-margin-top
{
	margin-top: 0px !important;
}

.modal-footer .col-xs-12
{
	border-top: 1px solid #e6e6e6;
	padding-top: 15px;
}

.modal-body small
{
	display: inherit;
	padding-top: 15px;
	color: #b9b9b9;
}

.modal-body small span
{
	padding-bottom: 5px;
}

.modal-body
{
	z-index: 1;
}

.alertify, .alertify * {
	z-index: 9999999;
}

span.select2-container > span.selection > span.select2-selection--multiple
{
	display: table;
	width: 100%;
	line-height: 1.2;
}