.imovel
{
    height: 280px;
}

.imovel-img img
{
    width: 100%;
    height: 170px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
}

.imovel h3
{
    color: #373737;
}

.imovel:hover .imovel-img
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-box-shadow: 0 0 4px rgba(172, 69, 69, 0.94);
    box-shadow: 0 0 4px rgba(172, 69, 69, 0.94);
    -moz-box-shadow: 0 0 4px rgba(172, 69, 69, 0.94);
    background-position: center;
    background-size: cover;
}

.imovel-img
{
    width: 200px;
    margin-left: 6%;
    height: 172px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.cidade-condominio-lancamento h2
{
    color: #8E1212;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.no-padding-left
{
    padding-left: 0;
}

.container-conteudo .nome-condominio h3
{
    text-align: center!important;
}
