.imoveis-sugestao
{
    /*height: 300px;*/
}

.imoveis-sugestao
{
    margin-top: 85px;
    color: white;
    background-image: url("http://www.itrend.com.br/assets/images/footer-capao.jpg");
    margin-bottom: -35px;
    background-size: 100%;
}
.linha-horizontal-sugestao{
    border-bottom: solid 1px #6f6f6f;
    width: 70%;
    display: table;
    height: 16px;
    margin-bottom: 5px;
}
#slider-imoveis-sugestoes
{
    margin-top: 20px;
    margin-bottom: 20px;
}

#slider-imoveis-sugestoes.flexslider
{
    font-style: italic;
    background: none;
    border: none;
}

.img-principal-imovel
{
    background-size: cover;
    background-position: center;
    height: 500px;
}

.img-imoveis-similares
{
    background-size: cover;
    background-position: center;
    height: 250px;
}

#slider-imoveis-sugestoes h2 b small b,
#slider-imoveis-sugestoes p b small
{
    color: white;
}

#slider-imoveis-sugestoes h5
{
    margin-bottom: 0px;
}

.imovel-detalhes
{
    font-style: italic;
}

.imovel-detalhes h2, .imovel-detalhes h3, .imovel-detalhes h4, .imovel-detalhes .glyphicon
{
    color: #8E1212;
}

.info-icones img
{
    height: 30px;
    margin-bottom: 10px;
}

.info-icones .no-padding-xs.text-center-xs
{
    margin-top: 6px;
}

b.pull-left small, .imovel-detalhes h5 b
{
    color: #8E1212;
}

/* DETALHE CONDOMINIO */
#slider-condominio
{
    margin-bottom: 0;
}

.imoveis-condominio .imovel,
.imoveis-condominio .imovel h3
{
    color: #8E1212;
}

.imoveis-condominio .imovel b small,
.imoveis-condominio .imovel h3 small,
.imoveis-condominio .imovel .imovel-cidade-codigo
{
    color: #000;
}

.imoveis-condominio .imovel img
{
    height: 182px;
}

.imoveis-condominio .imovel
{
    -webkit-transition: background-color 1.5s;
    -moz-transition: background-color 1.5s;
    -o-transition: background-color 1.5s;
    transition: background-color 1.5s;
}

.imoveis-condominio .imovel:hover
{
    background-color: #ECECEC;
}

#slider-condominio.flexslider ul.slides li
{
    max-height: 400px;
}

.flexslider .slides > li
{
    max-height: 200px;
}

.imovel-img-destaque
{
    max-height: 430px;
    overflow: hidden;
}

.imovel-img-destaque img
{
    width: 105%;
}

@media screen and (max-width: 480px)
{
    .info-icones
    {
        margin-top: 10px;
    }
}

.complementos-imovel
{
    font-size: 10px;
}

.detalhes-imovel
{
    padding: 0;
}

.descricao-imovel
{
    font-size: 11px;
}

.aviso-para-ver-fotos
{
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.06);
}

.complementos-empreendimento .col-xs-6
{
    font-size: 11px;
}

