.col-filtro .bootstrap-select
{
    margin-bottom: 10px;
}

.col-filtro h3 em
{
    font-weight: 600;
    color: #C71C1C;
}

.col-filtro .btn-multselect
{
    background-color: white;
    color: black;
    border-bottom: solid 1px black;
}

.col-filtro .btn-multselect span
{
    text-align: center !important;
    text-transform: uppercase;
    font-size: 21px;
}

.col-filtro .btn-multselect span.bs-caret
{
    color: #8E1212;
}

.col-filtro input[type="text"].form-control
{
    background-color: #FFF;
    text-align: center;
    border-bottom: solid 1px black;
    height: 40px;
    font-size: 21px;
    color: black;
    text-transform: uppercase;
}

.qnt-resultados
{
    margin-top: 40px;
    color: #AAA5A5;
    margin-bottom: 25px;
}

.btn-pesquisar
{
    width: 100%;
    margin-top: 10px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    min-height: 33px;
    background-color: #8E1212;
    color: white;
    border-color: transparent;
}

/* IMOVEIS */
.imovel
{
    height: 540px;
    padding: 10px;
    background-color: #F4F5F6;
    margin-bottom: 15px;
    border-bottom: solid 5px #C71C1C;
}

.imovel:hover
{
    border-bottom: solid 5px #8E1212;
}

.imovel-img
{
    height: 250px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.imovel h2, .imovel h3
{
    font-weight: 600;
    color: #C71C1C;
}

.imovel a.btn
{
    width: 80%;
    color: white;
    background-color: #C71C1C;
    margin-top: 25px;
}

.imovel a.btn:hover
{
    color: white;
    background-color: #8E1212;
}

.imovel img 
{
    float: none;
}

.imovel b small
{
    color: #C71C1C;
}

a.imovel-url,
a.imovel-url:hover
{
    color: #5D5757;
}

.imovel .imovel-valor b small
{
    color: #5D5757 !important;
}

/* PAGINAÇÃO */
.light-theme a, .light-theme span
{
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* SLIDER VALOR */
#form-filtro-pesquisa .slider-track-low,
#form-filtro-pesquisa .slider-track-high,
#form-filtro-pesquisa .slider-selection
{
    background-color: #8E1212 !important;
}

#form-filtro-pesquisa .slider-selection
{
    background-image: linear-gradient(to bottom, #810909 0%, red 100%);
}

.filtro-valores
{
    color: #828282;
}

@media screen and (max-width: 480px)
{
    .imovel .imovel-descricao
    {
        height: 47px;
    }
}